#movesMetadataTable tr td:nth-child(1) {
  text-align: left;
}

#movesMetadataTable tr td:nth-child(2) {
  text-align: center;
}

#movesMetadataTable tr td:nth-child(3) {
  text-align: right;
}

.active-move {
  background-color: #6c757d !important;
  color: #fff !important;
}

#movesBrowser .description {
  padding: 0.5rem;
}

#movesBrowser.inline {
  height: 450px;
  overflow-y: scroll;
  margin-bottom: 0;
}

#movesBrowser.inline span[data-key] {
  display: inline-block;
  line-height: 2rem;
}

#movesBrowser.inline span[data-key] span {
  padding: 0.4rem;
}

#movesBrowser.inline span[data-key] span:hover {
  cursor: pointer;
  background-color: #6c757d !important;
  color: #fff !important;
}

#movesBrowser.table {
  height: 450px;
  overflow-y: scroll;
  margin-bottom: 0;
}

#movesBrowser.table div {
  display: flex;
}

#movesBrowser.table div span:nth-child(1) {
  width: 20%;
}

#movesBrowser.table div span:nth-child(2),
#movesBrowser.table div span:nth-child(3) {
  width: 40%;
}

#movesBrowser.table span {
  padding: 0.35rem;
  display: inline-block;
}

#movesBrowser.table span:hover {
  cursor: pointer;
  background-color: #6c757d !important;
  color: #fff !important;
}

#chessboard,
#chessboardEditorModal svg {
  cursor: pointer;
}
